PTRADE_DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/DATABASE?ssl=true
MYSQL_SSL_CA=assets/ApsaraDB-CA-Chain/ApsaraDB-CA-Chain.pem
BRIDGE_TOKEN=
CONSOLE_USER=admin
CONSOLE_PASSWORD=
SESSION_SECRET=
PORT=3000
